.content {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(150, 75, 0);
    border-radius: 0 0 10vh 10vh;
}

.header-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 5vh;
    margin: 2.5vh 1vw 2.5vh 1vw;
    font-size: 1.5vw;
    user-select: none;
    background-color: #F3E5AB;
    color: gray;
    border-radius: 1vw;
}

.header-button:hover {
    color: green;
    -webkit-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;
}