<div class="content">
    <div class="empty-space-left" ></div>
    
    <div class="content-left">
        <div class="title" routerLink="">
            <b>Illchess&nbsp;</b>
        </div>
        <app-header-button text="Strona główna" [icon]="home" routerLink=""></app-header-button>
        <app-header-button text="Dołącz do gry" [icon]="gamepad" routerLink="/join-or-initialize"></app-header-button>
        <app-bots-header-button text="Stwórz boty" [icon]="robot"></app-bots-header-button>
    </div>
    <div class="content-right">
        <app-header-username-input></app-header-username-input>
    </div>
</div>
<app-bot-managment></app-bot-managment>