@import '../header-style.scss';

.content {
    display: flex;
    justify-content: left;
    align-items: top;
    width: 100%;
    height: $header-height;
    background-color: rgb(150, 75, 0);
    border-radius: 0 0 10vw 10vw;
}

.content-left {
    display: flex;
    width: 70%;
}

.content-right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 10%;
}

.title {
    width: $title-width;
    color: #F3E5AB;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-transition: color 250ms linear, border 250ms linear;
    -ms-transition: color 250ms linear, border 250ms linear;
    transition: color 250ms linear, border 250ms linear;
}

.empty-space-left {
    width: $empty-space-left-width;
}