@if (data$ | async; as data) {
    <app-common-table 
        [labels]="[{'content': 'Username', 'width': '50%'}, {'content': 'Punkty ELO', 'width': '50%' }]"
        [dataList]="currentContent$ | async | playerViewToTableCellData"
        [pageNumber]="data.pageNumber"
        [pageSize]="data.pageSize"
        [totalPagesCount]="totalPages$ | async"
        [reload]="reloadSubject.asObservable()"
        (nextPageEmitter)="reloadRanking($event)"
        (previousPageEmitter)="reloadRanking($event)"
        (loadDataEmitter)="reloadRanking($event)">
    </app-common-table>
}
