@import "../chess-board-style.scss";

$slide-size: 4;
$slide-width: $slide-size * $board-wrapper-size-mini;

.content {
    padding-top: 0.5vw;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    height: $board-wrapper-size-mini;
}

.boards {
    position: relative;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    margin-left: 8vw;
    margin-right: 8vw;
    right: $slide-width
}

.empty-boards {
    width: $slide-width;
    height: $board-wrapper-size-mini;
    left: $slide-width
}

.boards-sliden-left {
    animation: slide-left 1s;
}

@keyframes slide-left {
    from {
        right: $slide-width;
    }

    to {
        right: 2 * $slide-width;
    }
}

.boards-sliden-right {
    animation: slide-right 1s;
}

@keyframes slide-right {
    from {
        right: $slide-width;
    }

    to {
        right: 0;
    }
}

.caret-wrapper {
    position: absolute;
    z-index: 1;
    font-size: 8vw;
    background-color: white;
    width: 8vw;
    height: $board-wrapper-size-mini;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caret-wrapper-left {
    left: 0;
    justify-content: right;
}

.caret-wrapper-right {
    right: 0;
    justify-content: left;
}

.caret {
    position: absolute;
    z-index: 1;
    font-size: 10vw;
    color: #F3E5AB;
    background-color: white;
    padding: 0.5vw;
    -webkit-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;
}

.caret-left {
    right: 0;
    justify-content: right;
}

.caret-right {
    left: 0;
    justify-content: left;
}

.caret-disabled {
    color: gray !important;
}

.caret:hover {
    color: rgb(150, 75, 0);
}

.no-active-games {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    font-size: 4vw;
    color: gray;
    user-select: none;
}
