<div class="everything">
    <div class="table-content">
        
        <div style="width: 100%;">
            <div class="headers">
                <div class="label" style="width: 10%">
                    <b>#</b> 
                </div>
                <div class="label" *ngFor="let label of labels" [ngStyle]="label.width ? {'width': label.width, 'max-width': label.width} : {}">
                    <b>{{label.content}}</b>
                </div>
            </div>
            <div class="datas">
                <div *ngFor="let i of pageSize | numberToArray; last as isLast">
                    <div class="data-line">
                        <div class="data" style="width: 10%">
                            {{pageSize * pageNumber + i + 1}}
                        </div>

                        @if(dataList.length != 0) { 

                            @if(dataList[i]) {
                                <div class="data" *ngFor="let data of dataList[i]; let j=index" [ngStyle]="{'color': data.color, 'width': labels[j].width, 'max-width': labels[j].width}">
                                    <div>
                                        {{data.content}}
                                    </div>
                                    <div *ngIf="data.icon">
                                        &nbsp;<fa-icon [icon]="data.icon"></fa-icon>
                                    </div>
                                </div>
                            } @else {
                                <div style="user-select: none;" class="data" [ngStyle]="emptyLabel.width ? {'width': emptyLabel.width, 'max-width': emptyLabel.width} : {}" *ngFor="let emptyLabel of labels">
                                </div>
                            }

                        } @else {
                            <div style="user-select: none;" class="data" [ngStyle]="emptyLabel.width ? {'width': emptyLabel.width, 'max-width': emptyLabel.width} : {}" *ngFor="let emptyLabel of labels">
                            </div>
                        }

                    </div>
                    <div *ngIf="!isLast" class="horizontal-line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="next-previous-page-buttons">
        <div class="next-previous-page-button" [ngClass]="isDisabledUp() ? 'next-previous-page-button-disabled' : ''">
            <fa-icon [icon]="anglesUp" (click)="isDisabledUp() ? null: previousPage()"></fa-icon>
        </div>
        <div class="next-previous-page-button" [ngClass]="isDisabledDown() ? 'next-previous-page-button-disabled' : ''">
            <fa-icon [icon]="anglesDown" (click)="isDisabledDown() ? null : nextPage()"></fa-icon>
        </div>
    </div>
</div>
