.header-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 4vh;
    margin: 1vh 1vw 1vh 1vw;
    font-size: 1.5vw;
    user-select: none;
    background-color: #F3E5AB;
    color: gray;
    border-radius: 1vw;
    -webkit-transition: color 250ms linear, border 250ms linear;
    -ms-transition: color 250ms linear, border 250ms linear;
    transition: color 250ms linear, border 250ms linear;
    border: 0.5vh solid gray;
}

.header-button:hover {
    color: green;
    border: 0.5vh solid green;
}