.header-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 6vh;
    margin: 0 1vw 1vh 1vw;
    font-size: 1.5vw;
    user-select: none;
    background-color: #F3E5AB;
    color: gray;
    border-radius: 0 0 1vw 1vw;
    -webkit-transition: color 250ms linear, border 250ms linear, padding 250ms linear;
    -ms-transition: color 250ms linear, border 250ms linear, padding 250ms linear;
    transition: color 250ms linear, border 250ms linear, padding 250ms linear;
    border-left: 0.5vh solid gray;
    border-bottom: 0.5vh solid gray;
    border-right: 0.5vh solid gray;
}

.header-button:hover {
    color: green;
    border-left: 0.5vh solid green;
    border-bottom: 0.5vh solid green;
    border-right: 0.5vh solid green;
    padding-top: 1vh;
    padding-bottom: 1vh;
}