.everything {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3E5AB;
    border-radius: 1vw;
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 1vw 1vh 1vw;
}

.data {
    min-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show-data 250ms linear;
    margin: 0.1vh 0.1vw 0.1vh 0.1vw;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    border-radius: 1vh;
}

@keyframes show-data {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.labels {
    background-color: #F3E5AB;
}

.label {
    min-width: none;
    margin: 0.1vh 0.1vw 0.1vh 0.1vw;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    background-color: rgb(150, 75, 0);
    border-radius: 1vh;
    text-wrap: nowrap;
    text-overflow: hidden;
    overflow: hidden;
}

.next-previous-page-buttons {
    margin-left: 1vw;
}

.next-previous-page-button-disabled {
    color: gray !important;
}

.next-previous-page-button {
    font-size: 3vw;
    -webkit-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;
}

.next-previous-page-button:hover {
    color: green
}

.table-content {
    width: 100%
}

.horizontal-line {
    width: 90%;
    border-bottom: 0.1vh solid gray;
    justify-self: center; 
}

.headers {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.datas {
    border-radius: 1vh;
    margin-top: 0.25vh;
    background-color: white;
    border: 0.1vw solid rgb(150, 75, 0)
}

.data-line {
    display: flex;
    justify-content: center;
    align-items: center;
}