@import "../chess-board-style.scss";

$evaluation-bar-width: calc(0.30 * $chess-square-size);
$default-height: calc(8 * $chess-square-size - 1px);
$chess-moves-width: calc(0.8 * $chess-square-size);

#chess-engine-info-wrapper {
    width: calc(1.5 * $chess-square-size);
    display: flex;
    justify-content: left;
    align-items: center;
}

#evaluation-bar {
    height: $default-height;
    width: $evaluation-bar-width;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid rgb(150, 75, 0)
}

#evaluation-bar-black-part {
    width: $evaluation-bar-width;
    background-color: black;
    transition: height 1s;
}

#evaluation-value {
    position: relative;
    text-align: center;
    transition: all 1s;
}

#best-moves {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: $default-height;
    width: $chess-moves-width;
    background-color: #F3E5AB;
    border-radius: 0 $evaluation-bar-width $evaluation-bar-width 0;
    border-top: 1px solid rgb(150, 75, 0);
    border-bottom: 1px solid rgb(150, 75, 0);
    border-right: 1px solid rgb(150, 75, 0);
    transform-origin: left;
    transition: 0.5s transform;
}

.best-moves-active {
    transform: scaleX(1);
}

.best-moves-inactive {
    transform: scaleX(0);
    display: none;
}

.best-move-wrapper {
    height: $chess-square-size;
    width: $chess-moves-width;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    animation: show-best-move 2s;
}

.show-best-moves-button {
    width: $evaluation-bar-width;
    height: calc(2 * $chess-square-size);
    background-color: rgb(150, 75, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    border-radius: 0 $evaluation-bar-width $evaluation-bar-width 0;
    transition: 0.5s transform;
}

.show-best-moves-button-active {
    transform: translate(0, 0);
}

.show-best-moves-button-inactive {
    transform: translate(calc(-1 * $chess-moves-width - 1px), 0);
}

.show-best-moves-text {
    transform: rotate(90deg);
    overflow: visible;
    text-wrap: nowrap;
    font-size: calc($chess-moves-width/4);
}

@keyframes show-best-move {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}