@import '../chess-board-additional-info/chess-board-additional-info.component.scss';

.content {
    width: $panel-width;
    height: calc($chess-square-size / 2 * 3 + 1vh);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}