@import '../chess-board-style.scss';

.content {
    width: $additional-info-panel-width;
    height: calc($chess-square-size * 2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}