// header
$header-height: 10vh;
$title-width: 10vw;
$empty-space-left-width: 10vw;

// header button
$header-button-width: 15vw;
$header-button-margin: 1vw;
$header-button-border: 0.5vh;
$header-button-unroll-height: 2vh;