@import '../../../components/header-button/header-button.component.scss';

$corresponding-button-number: 0;

$management-content-width: 70vw;
$management-content-height: 50vh;

.management-content {
    position: absolute;
    z-index: 5;
    top: calc($header-height + $header-button-unroll-height - 0.5vh);
    left: calc(50vw - 0.5 * $management-content-width);
    height: $management-content-height;
    width: $management-content-width;
    background-color: rgb(255,255,255, 0.75);
    border-radius: 1vw;
    border: $header-button-border solid gray;
    padding: 1vh 1vw 1vh 1vw;
}
