<div class="management-content" [ngClass]="(botManagmentShown$ | async) ? 'management-content-shown' : 'management-content-hidden'">
    @if (bots$ | async; as bots) {

        <div style="text-align: center;">
            @if(bots.length!=0) {
                <b>Obecnie rozgrywające gry boty: </b>
            } @else {
                <b>Brak botów rozgrywających partie</b>
            }
        </div>

        <div class="active-bots">
            <div *ngFor="let bot of bots; let i = index">
                <div class="active-bot">
                    <div class="bot-number">{{i + 1}}</div>.
                    <div class="common-text-input" style="display: flex; justify-content: center; align-items: center; border-color: gray;">
                        <div>{{bot.username}}</div>
                    </div>
                    <div class="bot-button remove-bot-button" (click)="deleteBot(bot.username)">
                        <fa-icon [icon]="minusIcon"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    } @else {
        <b>Brak botów rozgrywających partie</b>
    }
    <div class="horizontal-line"></div>
    <div class="add-bot">
        <div><b>Dodaj nowego bota:</b></div>
        <div>
            <input [(ngModel)]="added" class="common-text-input" maxlength="10">
        </div> 
        <div class="bot-button add-bot-button" (click)="addBot()">
            <fa-icon [icon]="plusIcon"></fa-icon>
        </div>
    </div>
</div>
