<div class="chess-square" 
    (drop)="pieceDropped()" 
    (dragover)="pieceDraggedOver($event)" 
    (dragleave)="isDraggedOver = false" 
    [ngStyle]="{'background-color': calculateSquareColor()}"
    [ngClass]="illegalMove ? 'illegal-move-animation-wrapper' : null"
    >
    <div class="chess-square-info">
        {{squareInfo.file}}{{squareInfo.rank}}
    </div>
    <div *ngIf="displayPiecePromotingComponent">
        <app-chess-promoting-piece 
            [boardId]="boardId"
            [squareInfo]="squareInfo"
            [draggedPieceInfo]="draggedPieceInfo"
            (pieceDroppedInfoEmitter)="piecePromotion($event)">
        </app-chess-promoting-piece>
    </div>
    <div *ngIf="piece" draggable="true" (dragstart)="pieceDragged()" (dragend)="pieceDraggedRelease()" class="chess-piece-wrapper">
        <app-chess-piece [pieceInfo]="piece"></app-chess-piece>
    </div>
    <div *ngIf="isSquareLegalMove()">
        <app-chess-legal-move-circle></app-chess-legal-move-circle>
    </div>
</div>