$chess-square-size: 12vh;
$chess-file-rank-info: 3vh;

.chess-square {
    display: flex;
    justify-content: left;
    width: $chess-square-size;
    height: $chess-square-size;
}

.chess-square-info {
    position: relative;
    top: calc($chess-square-size - 2vh);
    width: $chess-file-rank-info;
    height: min-content;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.chess-piece-wrapper {
    position: relative;
    height: min-content;
    top: 15%;
    left: calc(50% - $chess-file-rank-info);
    transform: translateX(-50%);
}

.illegal-move-animation-wrapper {
    animation: illegal-move-animation 0.5s infinite;
}

@keyframes illegal-move-animation {
    0%{
        background-color: red;
    }
}