<div class="captured-pieces-wrapper">
    <div class="captured-pieces">
        <ng-container *ngFor="let capturedPiece of capturedPieces; let i = index">
            <div class="captured-piece" [ngSwitch]="capturedPiece">
                <div *ngSwitchCase="Piece.PAWN" class="captured-piece">
                    @if(color == PieceColor.WHITE) {
                        <img class="piece-mini" src="assets/chess-pieces/wP.svg" />
                    } @else {
                        <img class="piece-mini" src="assets/chess-pieces/bP.svg" />
                    }
                </div>
                <div *ngSwitchCase="Piece.KNIGHT" class="captured-piece">
                    @if(color == PieceColor.WHITE) {
                        <img class="piece-mini" src="assets/chess-pieces/wN.svg" />
                    } @else {
                        <img class="piece-mini" src="assets/chess-pieces/bN.svg" />
                    }
                </div>
                <div *ngSwitchCase="Piece.BISHOP" class="captured-piece">
                    @if(color == PieceColor.WHITE) {
                        <img class="piece-mini" src="assets/chess-pieces/wB.svg" />
                    } @else {
                        <img class="piece-mini" src="assets/chess-pieces/bB.svg" />
                    }
                </div>
                <div *ngSwitchCase="Piece.ROOK" class="captured-piece">
                    @if(color == PieceColor.WHITE) {
                        <img class="piece-mini" src="assets/chess-pieces/wR.svg" />
                    } @else {
                        <img class="piece-mini" src="assets/chess-pieces/bR.svg" />
                    }
                </div>
                <div *ngSwitchCase="Piece.QUEEN" class="captured-piece">
                    @if(color == PieceColor.WHITE) {
                        <img class="piece-mini" src="assets/chess-pieces/wQ.svg" />
                    } @else {
                        <img class="piece-mini" src="assets/chess-pieces/bQ.svg" />
                    }
                </div>
                <div *ngSwitchCase="Piece.KING" class="captured-piece">
                    @if(color == PieceColor.WHITE) {
                        <img class="piece-mini" src="assets/chess-pieces/wK.svg" />
                    } @else {
                        <img class="piece-mini" src="assets/chess-pieces/bK.svg" />
                    }
                </div>
            </div>
        </ng-container>
    </div>
</div>