@import '../chess-board-style.scss';

$captured-pieces-width: calc($additional-info-panel-width / 2);

.captured-pieces-wrapper {
    width: $captured-pieces-width;
    height: $chess-square-size;
}

.captured-pieces {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: calc($captured-pieces-width / 16);
    padding-right: calc($captured-pieces-width / 8);
    padding-top: calc($chess-square-size / 15);
    transition: all 0.5s;
}

.captured-pieces-wrapper:hover .captured-pieces {
    padding: 0vh;
}

.captured-piece {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc($chess-square-size / 3.5);
    width: calc($chess-square-size / 3.5);
    transition: all 0.5s;
}

.captured-pieces-wrapper:hover .captured-piece {
    width: calc($chess-square-size / 2.9);
    height: calc($chess-square-size / 2.9);
}