<div>
    <div *ngFor="let rank of ranks">
        <div style="display: flex; justify-content: center;">
            <div *ngFor="let file of files">
                <app-chess-square 
                (pieceDraggedInfoEmitter)="pieceDraggedChange($event)" 
                (pieceDroppedInfoEmitter)="pieceDroppedChange($event)"
                [moveSubject]="moveSubject.asObservable()"
                [squareInfo]="{file: file, rank: rank}">
            </app-chess-square>
            </div>
        </div>
    </div>
</div>