<div *ngIf="boardView$ | async as boardView">
    <div *ngFor="let rank of ranks">
        <div style="display: flex; justify-content: center;">
            <div *ngFor="let file of files">
                <app-chess-square 
                    (pieceDraggedInfoEmitter)="pieceDraggedChange($event)"
                    (pieceDroppedInfoEmitter)="pieceDroppedChange($event)"
                    (pieceDraggedReleasedInfoEmitter)="pieceDraggedRelease()" 
                    [boardId]="boardId" 
                    [piece]="this.boardView?.piecesLocations ? 
                    this.boardView?.piecesLocations![file+rank] ? 
                    this.boardView?.piecesLocations![file+rank] : 
                    undefined : 
                    undefined" 
                    [illegalMoveResponse]="illegalMoveResponse"
                    [draggedPieceInfo]="draggedPieceInfo | async" 
                    [squareInfo]="{file: file, rank: rank}"
                    [legalMoves]="legalMoves | async" 
                    [username]="username"
                    [lastPerformedMove]="boardView?.lastPerformedMove">
                </app-chess-square>
            </div>
        </div>
    </div>
</div>