$chess-square-size: 3vw;
$board-wrapper-size: 28vw;

.board-wrapper {
    width: $board-wrapper-size;
    height: $board-wrapper-size;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $chess-square-size;
}

.board-wrapper:hover {
    background: radial-gradient(rgb(150,75,0,0.625), white);
}

.board {
    opacity: 1;
    animation: show-board 2s;
}

@keyframes show-board {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.chess-square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $chess-square-size;
    height: $chess-square-size;
    display: flex;
}

.chess-piece-wrapper:active {
    background-color: transparent;
}