@import '../chess-board-style.scss';

$icon-size: calc($chess-square-size / 5);

.icon-wrapper {
    height: $chess-square-size;
    width: $chess-square-size;
    position: absolute;
}

.icon {
    position: relative;
    left: calc($chess-square-size - $icon-size/2);
    top: - calc($icon-size/2);
    height: $icon-size;
    width: $icon-size;
    border-radius: calc($icon-size / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    font-size: calc(2*$icon-size/3);
    opacity: 0.85;
}