<div class="content">
    <ng-container *ngIf="color == PieceColor.WHITE ? (whitePlayer?.username == username): (blackPlayer?.username  == username)">    
        <app-chess-game-button 
            info="Poddaj gre" 
            [icon]="flag" 
            (click)="resignGame()"></app-chess-game-button>
        <app-chess-game-button 
            info="Zaproponuj remis" 
            [icon]="handshake" 
            (click)="proposeDraw()"
            [disabled]="color == PieceColor.BLACK 
            ? (whitePlayer?.username != username && blackPlayer?.isProposingDraw)! 
            : (blackPlayer?.username != username && whitePlayer?.isProposingDraw)!"></app-chess-game-button>
        <app-chess-game-button 
            info="Poproś o cofnięcie ruchu" 
            [icon]="back"
            (click)="proposeTakeBackMove()"
            [disabled]="performedMoves.length == 0 || color == PieceColor.BLACK 
            ? (whitePlayer?.username != username && blackPlayer?.isProposingTakingBackMove)! 
            : (blackPlayer?.username != username && whitePlayer?.isProposingTakingBackMove)!"></app-chess-game-button>
    </ng-container>
    <ng-container *ngIf="color == PieceColor.BLACK ? (whitePlayer?.username == username) : (blackPlayer?.username  == username)">
        <div *ngIf="color == PieceColor.BLACK 
            ? (whitePlayer?.username == username && blackPlayer?.isProposingDraw) 
            : (blackPlayer?.username  == username && whitePlayer?.isProposingDraw)">
            <app-chess-game-offer-from-oponent 
                info="Przeciwnik zaproponował remis"
                (accept)="acceptDraw()"
                (decline)="rejectDraw()">
            </app-chess-game-offer-from-oponent>
        </div>
        <div *ngIf="color == PieceColor.BLACK 
        ? (whitePlayer?.username == username && blackPlayer?.isProposingTakingBackMove) 
        : (blackPlayer?.username  == username && whitePlayer?.isProposingTakingBackMove)">
            <app-chess-game-offer-from-oponent 
                info="Przeciwnik poprosił o cofnięcie ruchu"
                (accept)="acceptTakingBackMove()"
                (decline)="rejectTakingBackMove()"
            ></app-chess-game-offer-from-oponent>
        </div>
    </ng-container>
</div>