@if(boardView$ | async; as boardView) {
    @if(gameId && haveAnyPiecesSet(boardView.piecesLocations)) {
        <div class="chess-game">
            <div>
                <app-chess-board [gameId]="gameId" [username]="(username$ | async)!"></app-chess-board>
            </div>
            <div>
                <app-chess-engine-info [gameId]="gameId" [username]="(username$ | async)!" [boardAdditionalInfoView]="boardAdditionalInfoView$ | async"></app-chess-engine-info>
            </div>
            <div>
                <app-chess-board-additional-info [gameId]="gameId" [username]="(username$ | async)!" [boardAdditionalInfoView]="boardAdditionalInfoView$ | async"></app-chess-board-additional-info>
            </div>
        </div>
    } @else {
        <app-loading-game></app-loading-game>
    }
}

