@import "../chess-board-style.scss";

.chess-game {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 90vh;
    animation: show 0.15s;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}