<div *ngIf="boardView$ | async as boardView">
    
    <div style="position: absolute" *ngIf="gameState$ | async as gameState">
        @if(gameState == 'WHITE_WON' || gameState ==  'BLACK_WON' || gameState ==  'DRAW') {
            <app-game-finished-popup
                [boardGameObtainedInfoView]="boardGameObtainedInfoView$ | async" 
                [gameFinishedView]="gameFinishedView$ | async"
                [gameState]="gameState">
            </app-game-finished-popup>
        }
    </div>

    <div style="position: absolute;">
        @if(!boardView.blackUsername) {
            <app-waiting-for-black-popup [gameId]="gameId" [username]="username"></app-waiting-for-black-popup>
        }
    </div>

    <div *ngFor="let rank of ranks">
        <div style="display: flex; justify-content: center;">
            <div *ngFor="let file of files">
                <app-chess-square 
                    (pieceSelectedInfoEmitter)="pieceSelectedChange($event)"
                    (pieceDroppedInfoEmitter)="pieceDroppedChange($event)"
                    (pieceDraggedReleasedInfoEmitter)="pieceDraggedRelease()" 
                    [gameId]="gameId" 
                    [piece]="boardView?.piecesLocations ? 
                    boardView?.piecesLocations![file+rank] ? 
                    boardView?.piecesLocations![file+rank] : 
                    undefined : 
                    undefined" 
                    [illegalMoveResponse]="illegalMoveResponse$"
                    [selectedPieceInfo]="selectedPieceInfo$ | async" 
                    [squareInfo]="{file: file, rank: rank}"
                    [legalMoves]="legalMoves$ | async" 
                    [username]="username"
                    [lastPerformedMove]="boardView?.lastPerformedMove"
                    [preMoves]="boardView?.preMoves"
                    [gameState]="gameState$ | async"
                    [currentPlayerColor]="currentPlayerColor$ | async"
                    [gameResultCause]="gameResultCause$ | async"
                    [userColor]="boardView.blackUsername == username ? 'BLACK' : boardView.whiteUsername == username ? 'WHITE' : undefined">
                </app-chess-square>
            </div>
        </div>
    </div>

</div>
