<div *ngIf="boardAdditionalInfoView$ | async as boardAdditionalInfoView" class="additional-info">
    <div class="player-panel player-panel-black">
        <app-chess-game-action-buttons 
            [boardId]="boardId" 
            [username]="username" 
            [whitePlayer]="boardAdditionalInfoView.whitePlayer"
            [blackPlayer]="boardAdditionalInfoView.blackPlayer"
            [color]="PieceColor.BLACK"
            ></app-chess-game-action-buttons>
        <div class="horizontal-line"></div>
        <div class="username-and-captured-pieces-wrapper">
            <div class="username-wrapper" [ngStyle]="username == boardAdditionalInfoView.blackPlayer ? {'color': 'green'} : {}">
                <div>
                    {{boardAdditionalInfoView.blackPlayer}}
                </div>
            </div>
            <div class="vertical-line"></div>
            <app-captured-pieces [color]="PieceColor.WHITE" [capturedPieces]="boardAdditionalInfoView.capturedWhitePieces"></app-captured-pieces>
        </div>
    </div>
    <div class="performed-moves-wrapper">
        <div class="performed-moves">
            <ng-container *ngFor="let move of boardAdditionalInfoView.performedMoves; let isOdd = odd;">
                <div class="performed-move" [ngClass]="{'performed-move-black': isOdd, 'performed-move-white': !isOdd}">
                    {{move}}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="player-panel player-panel-white">
        <div class="username-and-captured-pieces-wrapper">
            <div class="username-wrapper" [ngStyle]="username == boardAdditionalInfoView.whitePlayer ? {'color': 'green'} : {}">
                <div>
                    {{boardAdditionalInfoView.whitePlayer}}
                </div>
            </div>
            <div class="vertical-line"></div>
            <app-captured-pieces [color]="PieceColor.BLACK" [capturedPieces]="boardAdditionalInfoView.capturedBlackPieces"></app-captured-pieces>
        </div>
        <div class="horizontal-line"></div>
        <app-chess-game-action-buttons 
            [boardId]="boardId" 
            [username]="username"
            [whitePlayer]="boardAdditionalInfoView.whitePlayer"
            [blackPlayer]="boardAdditionalInfoView.blackPlayer"
            [color]="PieceColor.WHITE"
            ></app-chess-game-action-buttons>
    </div>
</div>