<div *ngIf="boardAdditionalInfoView" class="additional-info">
    <app-chess-game-player-panel [username]="username" [boardAdditionalInfoView]="boardAdditionalInfoView" [pieceColor]="PieceColor.BLACK"></app-chess-game-player-panel>
    <div class="performed-moves-wrapper">
        <div class="performed-moves">
            <ng-container *ngFor="let move of boardAdditionalInfoView.performedMoves; let isOdd = odd;">
                <div class="performed-move" [ngClass]="{'performed-move-black': isOdd, 'performed-move-white': !isOdd}">
                    {{move}}
                </div>
            </ng-container>
        </div>
    </div>
    <app-chess-game-player-panel [username]="username" [boardAdditionalInfoView]="boardAdditionalInfoView" [pieceColor]="PieceColor.WHITE"></app-chess-game-player-panel>
</div>