@import "../chess-board-style.scss";

$performed-moves-panel-width: calc(2.5 * $chess-square-size);
$panel-width: calc(4 * $chess-square-size);

.additional-info {
    width: $panel-width;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 calc($chess-square-size / 10) 0 calc($chess-square-size / 10);
}

.performed-moves-wrapper {
    width: $performed-moves-panel-width;
    height: calc(3 * $chess-square-size - 1 / 5 * $chess-square-size);
    border-left: calc($chess-square-size/40) solid rgb(150, 75, 0);
    border-right: calc($chess-square-size/40) solid rgb(150, 75, 0);
    background-color: #F3E5AB;
    margin: 0 calc($chess-square-size / 10) 0 calc($chess-square-size / 10);
    overflow: auto;
}

.performed-moves {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: calc($chess-square-size / 10);
}

.player-panel {
    width: $panel-width;
    background-color: rgb(150, 75, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.player-panel-black {
    border-radius: 0  0 calc(($panel-width - $performed-moves-panel-width)/4) calc(($panel-width - $performed-moves-panel-width)/4);
}

.player-panel-white {
    border-radius: calc(($panel-width - $performed-moves-panel-width)/4) calc(($panel-width - $performed-moves-panel-width)/4) 0  0;
}

.player-panel-fading-black {
    background: linear-gradient(white, rgb(150,75,0));
    height: calc($chess-square-size/2);
    width: $panel-width
}

.player-panel-fading-white {
    background: linear-gradient(rgb(150,75,0), white);
    height: calc($chess-square-size/2);
    width: $panel-width
}

.username-and-captured-pieces-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc($panel-width / 2);
    font-size: calc($panel-width / 15);
}

.vertical-line {
    height: calc($chess-square-size*4/5);
    border-left: 0.1vw solid gray; 
}

.horizontal-line {
    width: 80%;
    border-bottom: 0.1vh solid gray; 
}

::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-track {
    background-color: #F3E5AB;
    border: 0.25vh solid rgb(150, 75, 0);
}

::-webkit-scrollbar-thumb {
    background: rgb(150, 75, 0);
}