<div class="content">

    <div class="user-info user-info-white">
        <div class="user-icon">
            <fa-icon [icon]="user"></fa-icon>
        </div>
        <div class="text-info">
            <div><b>username1</b></div>
            <div class="point-change">
                <div>1500</div>
                &nbsp;(
                <div class="point-change-loss">
                    <fa-icon [icon]="pointLoss"></fa-icon>
                </div>
                <div class="point-change-loss">
                    <b>-16</b>
                </div>
                )
            </div>
        </div>
    </div>

    <div class="result">
        <b>0:1</b>
    </div>

    <div class="user-info user-info-black">
        <div class="user-icon">
            <fa-icon [icon]="user"></fa-icon>
        </div>
        <div class="text-info">
            <div><b>username2</b></div>
            <div class="point-change">
                <div>1500</div>
                &nbsp;(
                <div class="point-change-gain">
                    <fa-icon [icon]="pointGain"></fa-icon>
                </div>
                <div class="point-change-gain">
                    <b>+16</b>
                </div>
                )
            </div>
        </div>
    </div>

</div>