<div id="chess-engine-info-wrapper">
    <ng-container *ngIf="boardAdditionalInfoView?.whitePlayer?.username != username && boardAdditionalInfoView?.blackPlayer?.username != username">
        <div id="evaluation-bar" *ngIf="boardEvaluation$ | async as boardEvaluation">
            <div id="evaluation-bar-black-part"
                [ngStyle]="{'height': (50 - ((boardEvaluation.result> 10 ? 10 : boardEvaluation.result)/10)* 50)+'%'}">
                <div id="evaluation-value" style="font-size: 0.7vw;"
                    [ngStyle]="boardEvaluation.result>0 ? {'top': '100%', 'color': 'black'} : {'top': 'calc(100% - 0.7vw)', 'color': 'white'}">
                    {{boardEvaluation.result}}
                </div>
            </div>
        </div>
        <div id="best-moves" [ngClass]="showBestMoves ? 'best-moves-active' : 'best-moves-inactive'"
            *ngIf="bestMoveAndContinuation$ | async as bestMoveAndContinuation">
            <div *ngFor="let bestMove of bestMoveAndContinuation.continuation; let i = index"
                class="best-move-wrapper">
                <div class="performed-move performed-move-black"
                    [ngClass]="boardAdditionalInfoView?.currentPlayerColor=='WHITE' ? (i%2==0 ? 'performed-move-white' : 'performed-move-black') : (i%2==0 ? 'performed-move-black' : 'performed-move-white') ">
                    <b>{{bestMove}}</b>
                </div>
            </div>
        </div>
        <div class="show-best-moves-button" [ngClass]="showBestMoves ? 'show-best-moves-button-active' : 'show-best-moves-button-inactive'" (click)="showBestMoves = !showBestMoves">
            <div class="show-best-moves-text">
                <b>Najlepsze ruchy</b>
            </div>
        </div>
    </ng-container>
</div>