<div class="content">
    <div class="panel">
        <div class="info-wrapper">
            <div class="info">
                <b>
                    {{info}}
                </b>
            </div>
        </div>
        <div class="options">
            <div class="option">
                <app-chess-game-button info="Akceptuj" [icon]="check" backgroundColor="green"></app-chess-game-button>
            </div>
            <div class="option">
                <app-chess-game-button info="Odrzuć" [icon]="x" backgroundColor="red"></app-chess-game-button>
            </div>
        </div>
    </div>
</div>