@import '../chess-board-additional-info/chess-board-additional-info.component.scss';

.chess-game-button-wrapper {
    height: calc($chess-square-size / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chess-game-button {
    width: 71%;
    height: calc($chess-square-size / 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3E5AB;
    color: white;
    transition: all 0.25s;
    user-select: none;
    font-size: calc($chess-square-size / 5);
    padding-left: 1vw;
    padding-right: 1vw;
}

.chess-game-button:active {
    width: 68%;
    height: calc($chess-square-size * 0.3);
    font-size: calc($chess-square-size / 5 - 0.05 * $chess-square-size / 4);
}

.chess-game-button:hover {
    color: black;
}

.chess-game-button-disabled {
    background-color: darkslategray;
    color: white !important;
}