$chess-square-size: 8.5vh;

.piece {
    font-size: calc($chess-square-size * 8 / 10);
}

.piece:hover {
    font-size: calc($chess-square-size* 9 / 10);
}


.chess-piece-wrapper {
    position: absolute;
    height: $chess-square-size;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // bez tego poza pionkiem można poruszać polem - WTF!?
    transform: translateX(0);
}

// mini board
$chess-piece-size-mini: 1.5vw;
$chess-square-size-mini: 2vw;
$board-wrapper-size-mini: 21vw;