$chess-square-size: clamp(20px, 6.5vw, 8.5vh);

$popup-content-height: calc(3 * $chess-square-size);
$popup-content-width: calc(5 * $chess-square-size);

.popup-content {
    position: relative;
    top: calc(2.5 * $chess-square-size);
    left: calc(1.5 * $chess-square-size);
    border-radius: calc($chess-square-size/2);
    background-color: rgb(128,128,128, 0.75);
    width: $popup-content-width;
    height: $popup-content-height;
    z-index: 2;
    animation: show-username 1s;
}

.piece {
    width: $chess-square-size;
    height: $chess-square-size;
}

.piece:hover {
    width: calc($chess-square-size * 1.1);
    height: calc($chess-square-size * 1.1);
}


.chess-piece-wrapper {
    position: absolute;
    height: $chess-square-size;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // bez tego poza pionkiem można poruszać polem - WTF!?
    transform: translateX(0);
}

// mini board
$chess-piece-size-mini: 1.5vw;
$chess-square-size-mini: 2vw;
$board-wrapper-size-mini: 21vw;