// chess-square
$chess-square-size: clamp(20px, 6.5vw, 8.5vh);

// popup
$popup-content-height: calc(3 * $chess-square-size);
$popup-content-width: calc(5 * $chess-square-size);

.popup-content {
    position: relative;
    top: calc(2.5 * $chess-square-size);
    left: calc(1.5 * $chess-square-size);
    border-radius: calc($chess-square-size/2);
    background-color: rgb(128,128,128, 0.75);
    width: $popup-content-width;
    height: $popup-content-height;
    z-index: 5;
    animation: show-username 1s;
}

// mini board
$chess-piece-size-mini: 1.5vw;
$chess-square-size-mini: 2vw;
$board-wrapper-size-mini: 21vw;

// additional info
$additional-info-panel-width: calc(4 * $chess-square-size);
$performed-moves-panel-width: calc(2.5 * $chess-square-size);
