@if (pageDataLatestGames$ | async; as pageDataLatestGames) {
    <app-common-table 
        [labels]="[
            {'content': 'Biały', 'width': '30%'}, 
            {'content': 'Zmiana punktów biały', 'width': '20%'},
            {'content': 'Zmiana punktów czarny', 'width': '20%'},
            {'content': 'Czarny', 'width': '30%'}, 
        ]"
        [dataList]="currentContent$ | async | latestGamesToTableCellData"
        [pageNumber]="pageDataLatestGames.pageNumber"
        [pageSize]="pageDataLatestGames.pageSize"
        [totalPagesCount]="totalPages$ | async"
        (nextPageEmitter)="reloadLatestGames($event)"
        (previousPageEmitter)="reloadLatestGames($event)"
        (loadDataEmitter)="reloadLatestGames($event)">
    </app-common-table>
}
