<div [ngClass]="{'promotion-squares-wrapper-lower': squareInfo.rank == 1}" class="promotion-squares-wrapper">
    <div class="promotion-square-background"> 
        <app-chess-piece class="promotion-square chess-piece-wrapper" (click)="piecePromotion(Piece.QUEEN)" [pieceInfo]="{'type': Piece.QUEEN, 'color': squareInfo.rank==1 ? PieceColor.BLACK : PieceColor.WHITE}"></app-chess-piece>
    </div>
    <div class="promotion-square-background"> 
        <app-chess-piece class="promotion-square chess-piece-wrapper" (click)="piecePromotion(Piece.KNIGHT)" [pieceInfo]="{'type': Piece.KNIGHT, 'color': squareInfo.rank==1 ? PieceColor.BLACK : PieceColor.WHITE}"></app-chess-piece> 
    </div>
    <div class="promotion-square-background"> 
        <app-chess-piece class="promotion-square chess-piece-wrapper" (click)="piecePromotion(Piece.ROOK)" [pieceInfo]="{'type': Piece.ROOK, 'color': squareInfo.rank==1 ? PieceColor.BLACK : PieceColor.WHITE}"></app-chess-piece>
    </div>
    <div class="promotion-square-background"> 
        <app-chess-piece  class="promotion-square chess-piece-wrapper" (click)="piecePromotion(Piece.BISHOP)" [pieceInfo]="{'type': Piece.BISHOP, 'color': squareInfo.rank==1 ? PieceColor.BLACK : PieceColor.WHITE}"></app-chess-piece>
    </div>
</div>