@import "../chess-board-style.scss";

.promotion-squares-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.promotion-squares-wrapper-lower {
    top: -(calc(3*$chess-square-size));
    flex-direction: column-reverse;
}

.promotion-square {
    width: $chess-square-size;
    height: $chess-square-size;
    display: flex;
    background-color: rgba(150, 75, 0, 0.5);
    border-radius: calc($chess-square-size/2);
    z-index: 2;
}

.promotion-square-background {
    width: $chess-square-size;
    height: $chess-square-size;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    z-index: 1;
}