<div class="chess-square"
    (drop)="pieceDropped()"
    (dragover)="pieceDraggedOver($event)"
    (dragleave)="isDraggedOver = false"
    (mousedown)="squareClicked()"
    [ngStyle]="{'background-color': calculateSquareColor()}"
    [ngClass]="illegalMove ? 'illegal-move-animation-wrapper' : null">

    <div 
        class="chess-square-highlight" 
        [style.opacity]="'0.4'"
            [ngStyle]="isDraggedOver ? {'background-color': 'green'} : isPreMoveSquare() ? {'background-color': 'black'}  : isLastPerformedMove() ? {'background-color': 'yellow'} : {}">
    </div>
    
    <div *ngIf="displayPiecePromotingComponent">
        <app-chess-promoting-piece
            [boardId]="boardId"
            [squareInfo]="squareInfo"
            [selectedPieceInfo]="selectedPieceInfo"
            (pieceDroppedInfoEmitter)="piecePromotion($event)"
            [username]="username">
        </app-chess-promoting-piece>
    </div>
    
    <app-king-board-info-after-game-finished [gameState]="gameState" [victoriousPlayerColor]="victoriousPlayerColor"  [piece]="piece"></app-king-board-info-after-game-finished>

    <div *ngIf="piece" draggable="true" (dragstart)="pieceSelected()" (dragend)="pieceDraggedRelease()" class="chess-piece-wrapper">
        <app-chess-piece [pieceInfo]="piece"></app-chess-piece>
    </div>

    <div (mouseenter)="isDraggedOver=true" (mouseleave)="isDraggedOver=false" *ngIf="isSquareLegalMove()" class="chess-square-highlight">
        <app-chess-legal-move-circle></app-chess-legal-move-circle>
    </div>

</div>
