@import "../chess-board-style.scss";

.chess-square {
    position: relative;
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: $chess-square-size;
    height: $chess-square-size;
}

.chess-square-highlight {
    position: absolute;
    width: $chess-square-size;
    height: $chess-square-size;
}

.chess-piece-wrapper:active {
    background-color: transparent;
}

.illegal-move-animation-wrapper {
    animation: illegal-move-animation 0.5s infinite;
}

@keyframes illegal-move-animation {
    0% {
        background-color: red;
    }
}